@import '../../styles/utils/index';

.c-movie-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;

  &.is-loading {
    position: relative;
    overflow: hidden;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderAnimate;
    animation-timing-function: linear;
    background: $color-black;
    background-image: linear-gradient(
      to right,
      $color-black 0%,
      $color-shark 50%,
      $color-black 100%
    );
    background-size: 1000px;

    &::before {
      display: block;
      width: 100%;
      padding-top: (3 / 2) * 100%;
      content: '';
    }
  }

  &:hover {
    .c-movie-card__content {
      transform: translateY(0);
    }

    .c-movie-card__image {
      transform: scale(1.02);
    }
  }

  &__image-wrapper {
    position: relative;

    &::before {
      display: block;
      width: 100%;
      padding-top: (3 / 2) * 100%;
      content: '';
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        rgba($color-bunker, 0.7) 15%,
        rgba($color-white, 0) 100%
      );
      content: '';
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transform: translateY(52px);
    transition: transform 0.4s ease-in-out;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__meta {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    margin-left: auto;
    border-radius: 4px;
    color: $color-white;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba($color-white, 0.3);
    }
  }

  &__icon {
    $size: 18px;

    width: $size;
    height: $size;
    margin-top: -5px;
    margin-left: 8px;
    fill: $color-white;
  }
}

@keyframes placeholderAnimate {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
